body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212; /* Very dark grey background */
  color: #e0e0e0; /* Light grey text */
}

a {
  color: #bb86fc; /* Link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #80cbc4; /* Link hover color */
}