.about-us-section {
    padding: 80px 20px;
    text-align: center;
    background-color: #424242; /* Darker grey background */
    color: #e0e0e0;
  }
  
  .about-us-section h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #bb86fc; /* Accent color */
  }
  
  .about-us-section p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #e0e0e0;
    max-width: 800px;
    margin: 0 auto;
  }