.about-us-section {
  padding: 2rem;
  background-color: transparent; /* Transparent background */
  text-align: center;
}

.about-us-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  min-width: 300px;
  text-align: left;
  font-size: 1rem;
  background-color: transparent; /* transparent text container */
  color: #ffffff; /* Or white, depending on your background */
}

.about-image {
  flex: 1;
  min-width: 300px;
  text-align: center;
  background-color: transparent; /* transparent image container */
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: transparent; /* transparent image background */
}
.motion-video {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  background-color: transparent;
}
