.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000; /* Dark grey navigation background */
    border-bottom: 1px solid #424242; /* Slightly lighter border */
  }
  
  .logo {
    display: flex;
  align-items: center; /* Accent color for the logo */
  }
  
  .desktop-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .desktop-menu a {
    text-decoration: none;
    color: #e0e0e0;
  }
  
  .desktop-menu a:hover {
    color: #80cbc4;
  }
  
  .desktop-menu .auth-links {
    display: flex;
    gap: 10px;
    margin-left: 20px;
  }
  .logo-image {
    height: 100px; 
  }